{$SITE_HOST:localhost} {
  encode gzip zstd

  @gameSocket path /socket.io*
  reverse_proxy @gameSocket game:8000

  @gameState path /timer* /idle*
  reverse_proxy @gameState game:8000

  @lobby path /games*
  reverse_proxy @lobby game:8080

  reverse_proxy web:3000
}

